* {
   /* margin: 0;
   padding: 0; */
   box-sizing: border-box;
}

body {
   background-color: rgb(61, 3, 102);
}

#main-div {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   width: 500px;
   height: 350px;
   background-color: white;
   border-radius: 7px;
}

#todo-name {
   color: black;
   font-weight: bold;
   font-size: 20px;
}

#todo-input {
   width: 250px;
   border-radius: 5px;
   border: solid 1px grey;
   padding: 7px 10px;
   cursor: pointer;
}

#todo-list {
   width: 250px;
}

.delete, .edit, #add-button {
   border-radius: 10px;
   border: none;
   padding: 4px 10px;
   cursor: pointer;
}